In [2]:
import pandas as pd
import numpy as np
import re

In [3]:
ratings_movies = pd.read_csv(r'c:\Users\Administrator.DESKTOP-8R20EE2\Documents\sf_data_science\PY_12_Python_Advanced_for_Data_Analysis\ratings_movies\ratings_movies.csv')

In [5]:
#библиотека для регулярных выражений
import re 
def get_year_release(arg):
    #находим все слова по шаблону "(DDDD)"
    candidates = re.findall(r'\(\d{4}\)', arg) 
    # проверяем число вхождений
    if len(candidates) > 0:
        #если число вхождений больше 0,
	#очищаем строку от знаков "(" и ")"
        year = candidates[0].replace('(', '')
        year = year.replace(')', '')
        return int(year)
    else:
        #если год не указан, возвращаем None
        return None

In [7]:
ratings_movies['year_release'] = ratings_movies['title'].apply(get_year_release)
ratings_movies.info()
ratings_movies.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 8 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Unnamed: 0    100836 non-null  int64
 1   userId        100836 non-null  int64
 2   movieId       100836 non-null  int64
 3   rating        100836 non-null  float64
 4   date          100836 non-null  object
 5   title         100836 non-null  object
 6   genres        100836 non-null  object
 7   year_release  100818 non-null  float64
dtypes: float64(2), int64(3), object(3)
memory usage: 6.2+ MB

,Unnamed: 0,userId,movieId,rating,date,title,genres,year_release
0,0,1,1,4.0,2000-07-30 18:45:03,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995.0
1,1,1,3,4.0,2000-07-30 18:20:47,Grumpier Old Men (1995),Comedy|Romance,1995.0
2,2,1,6,4.0,2000-07-30 18:37:04,Heat (1995),Action|Crime|Thriller,1995.0
3,3,1,47,5.0,2000-07-30 19:03:35,Seven (a.k.a. Se7en) (1995),Mystery|Thriller,1995.0
4,4,1,50,5.0,2000-07-30 18:48:51,"Usual Suspects, The (1995)",Crime|Mystery|Thriller,1995.0

In [11]:
movies_filtered = ratings_movies[ratings_movies['year_release'] == 1999]
grouped = movies_filtered.groupby('title')['rating'].mean().reset_index()
sorted_grouped = grouped.sort_values('rating', ascending=True)
worst_movie = sorted_grouped.iloc[0]['title']
display(sorted_grouped)

                                          title  rating
41           Bloodsport: The Dark Kumite (1999)     0.5
204                            Simon Sez (1999)     1.0
54                          Chill Factor (1999)     1.0
213                          Source, The (1999)     1.0
242                             Trippin' (1999)     1.0
..                                          ...     ...
241                    Trailer Park Boys (1999)     5.0
137    Larry David: Curb Your Enthusiasm (1999)     5.0
224              Sun Alley (Sonnenallee) (1999)     5.0
101  George Carlin: You Are All Diseased (1999)     5.0
91                      Five Senses, The (1999)     5.0

[261 rows x 2 columns]

In [12]:
movies_filtered_2 = ratings_movies[ratings_movies['year_release'] == 2010]
grouped_2 = movies_filtered_2.groupby('genres')['rating'].mean().reset_index()
sorted_grouped_2 = grouped_2.sort_values('rating', ascending=True)
display(sorted_grouped_2)

                               genres    rating
46                      Action|Sci-Fi  1.000000
14            Action|Adventure|Horror  1.500000
36               Action|Drama|Fantasy  1.500000
87                      Crime|Romance  1.500000
55           Adventure|Comedy|Fantasy  1.833333
..                                ...       ...
82                              Crime  4.750000
78                     Comedy|Musical  5.000000
67    Animation|Drama|Fantasy|Mystery  5.000000
52  Adventure|Children|Comedy|Mystery  5.000000
65         Animation|Children|Mystery  5.000000

[119 rows x 2 columns]

In [13]:
user_grouped = ratings_movies.groupby('userId')['genres'].nunique().reset_index()
sorted_grouped_user = user_grouped.sort_values('genres', ascending=False)
display(sorted_grouped_user)

     userId  genres
598     599     524
413     414     482
447     448     403
379     380     399
473     474     395
..      ...     ...
577     578      15
11       12      15
84       85      13
213     214      13
244     245      13

[610 rows x 2 columns]

In [14]:
low_rating_user = ratings_movies.groupby('userId')['rating'].agg(['count','mean']).reset_index()
sorted_low_rating_user = low_rating_user.sort_values(by=['count', 'mean'], ascending=[True, False])

display(sorted_low_rating_user)

     userId  count      mean
52       53     20  5.000000
594     595     20  4.200000
188     189     20  4.100000
568     569     20  4.000000
277     278     20  3.875000
..      ...    ...       ...
273     274   1346  3.235884
447     448   1864  2.847371
473     474   2108  3.398956
598     599   2478  2.642050
413     414   2698  3.391957

[610 rows x 3 columns]

In [16]:
filtered_movies = ratings_movies[ratings_movies['year_release'] == 2018]
grouped_filtered_movies = filtered_movies.groupby('genres')['rating'].agg(['count', 'mean']).reset_index()
count_rating = grouped_filtered_movies[grouped_filtered_movies['count'] > 10]
sorted_count_rating = count_rating.sort_values('mean', ascending=False)
display(sorted_count_rating)

                     genres  count      mean
5   Action|Adventure|Sci-Fi     14  3.928571
10     Action|Comedy|Sci-Fi     12  3.875000

In [17]:
ratings_movies['date'] = pd.to_datetime(ratings_movies['date'])
ratings_movies['year_rating'] = ratings_movies['date'].dt.year
ratings_movies_pivot = ratings_movies.pivot_table(
    values='rating',
    index='year_rating',
    columns='genres',
    aggfunc=['mean']
)

display(ratings_movies_pivot)

                          mean                             \
genres      (no genres listed)    Action Action|Adventure
year_rating
1996                       NaN  2.730769         3.454545
1997                       NaN  3.538462         4.150000
1998                       NaN       NaN         4.200000
1999                       NaN       NaN         4.000000
2000                       NaN  2.588235         3.738462
2001                       NaN  3.000000         3.500000
2002                       NaN  2.750000         4.304348
2003                       NaN  3.833333         3.277778
2004                       NaN  2.700000         4.136364
2005                       NaN  3.357143         3.413043
2006                       NaN  2.166667         4.090909
2007                       NaN  2.583333         3.666667
2008                       NaN  3.000000         3.656250
2009                       NaN       NaN         3.714286
2010                       NaN  3.500000         3.437500
2011                       NaN  4.500000         3.888889
2012                       NaN  2.625000         3.900000
2013                       NaN  2.500000         3.833333
2014                       NaN       NaN         3.875000
2015                  0.500000  3.100000         3.560976
2016                  3.500000  3.545455         3.722222
2017                  3.000000  2.637931         3.527778
2018                  3.676471  2.588235         3.397436

                                                                            \
genres      Action|Adventure|Animation Action|Adventure|Animation|Children
year_rating
1996                               NaN                                 NaN
1997                               NaN                                 NaN
1998                               NaN                                 NaN
1999                               NaN                                 NaN
2000                               NaN                                 NaN
2001                               NaN                                 NaN
2002                               NaN                                 NaN
2003                               NaN                                 NaN
2004                               NaN                                 NaN
2005                               NaN                                 NaN
2006                               NaN                                 NaN
2007                               NaN                                 NaN
2008                               NaN                                 NaN
2009                               NaN                                 NaN
2010                               NaN                                 NaN
2011                               NaN                                 NaN
2012                               NaN                            4.000000
2013                               NaN                            3.000000
2014                             3.000                            3.500000
2015                             3.800                            3.666667
2016                             3.750                            3.833333
2017                             3.375                            3.500000
2018                             3.650                            3.166667

                                                        \
genres      Action|Adventure|Animation|Children|Comedy
year_rating
1996                                               NaN
1997                                               NaN
1998                                               NaN
1999                                               NaN
2000                                               NaN
2001                                               NaN
2002                                               NaN
2003                                               NaN
2004                                          4.000000
2005                                          4.107143
2006                                          3.833333
2007                                          3.846154
2008                                          4.125000
2009                                          3.900000
2010                                          4.333333
2011                                          3.500000
2012                                          3.785714
2013                                          4.333333
2014                                          3.250000
2015                                          3.565217
2016                                          3.925000
2017                                          3.676471
2018                                          3.741935

                                                                \
genres      Action|Adventure|Animation|Children|Comedy|Fantasy
year_rating
1996                                                       NaN
1997                                                       NaN
1998                                                       NaN
1999                                                       NaN
2000                                                       NaN
2001                                                       NaN
2002                                                       NaN
2003                                                       NaN
2004                                                       NaN
2005                                                       NaN
2006                                                       NaN
2007                                                  3.000000
2008                                                  4.000000
2009                                                       NaN
2010                                                       NaN
2011                                                       NaN
2012                                                       NaN
2013                                                       NaN
2014                                                  3.833333
2015                                                  3.833333
2016                                                  3.388889
2017                                                  3.700000
2018                                                  4.142857

                                                             \
genres      Action|Adventure|Animation|Children|Comedy|IMAX
year_rating
1996                                                    NaN
1997                                                    NaN
1998                                                    NaN
1999                                                    NaN
2000                                                    NaN
2001                                                    NaN
2002                                                    NaN
2003                                                    NaN
2004                                                    NaN
2005                                                    NaN
2006                                                    NaN
2007                                                    NaN
2008                                                    NaN
2009                                               3.250000
2010                                               3.500000
2011                                                    NaN
2012                                               3.550000
2013                                               5.000000
2014                                               3.500000
2015                                               3.375000
2016                                               3.666667
2017                                               1.000000
2018                                               3.700000

                                                                \
genres      Action|Adventure|Animation|Children|Comedy|Romance
year_rating
1996                                                       NaN
1997                                                       NaN
1998                                                       NaN
1999                                                       NaN
2000                                                       NaN
2001                                                       NaN
2002                                                       NaN
2003                                                       NaN
2004                                                       NaN
2005                                                       NaN
2006                                                       NaN
2007                                                       NaN
2008                                                       NaN
2009                                                       NaN
2010                                                  3.000000
2011                                                       NaN
2012                                                  4.000000
2013                                                       NaN
2014                                                  4.000000
2015                                                  2.333333
2016                                                  1.000000
2017                                                  1.000000
2018                                                  2.500000

                                                               ...  \
genres      Action|Adventure|Animation|Children|Comedy|Sci-Fi  ...
year_rating                                                    ...
1996                                                      NaN  ...
1997                                                      NaN  ...
1998                                                      NaN  ...
1999                                                      NaN  ...
2000                                                      NaN  ...
2001                                                      NaN  ...
2002                                                      NaN  ...
2003                                                      NaN  ...
2004                                                      NaN  ...
2005                                                      NaN  ...
2006                                                      3.0  ...
2007                                                      2.8  ...
2008                                                      3.5  ...
2009                                                      2.5  ...
2010                                                      NaN  ...
2011                                                      4.0  ...
2012                                                      NaN  ...
2013                                                      NaN  ...
2014                                                      NaN  ...
2015                                                      2.5  ...
2016                                                      4.0  ...
2017                                                      2.0  ...
2018                                                      4.0  ...

                                                                    \
genres      Romance|Thriller Romance|War Romance|Western    Sci-Fi
year_rating
1996                     NaN         NaN             NaN       NaN
1997                     NaN         NaN             NaN       NaN
1998                     NaN         NaN             NaN       NaN
1999                   2.000         NaN             NaN       NaN
2000                   4.000         NaN             3.0  3.416667
2001                     NaN         NaN             3.0  2.500000
2002                   3.000         NaN             NaN  3.750000
2003                   3.375         2.5             NaN  2.333333
2004                   3.000         3.0             3.5  2.125000
2005                   2.000         NaN             NaN  3.000000
2006                     NaN         NaN             NaN  0.500000
2007                   1.500         NaN             2.5  3.375000
2008                     NaN         NaN             NaN  3.125000
2009                     NaN         NaN             NaN  2.000000
2010                     NaN         NaN             NaN  4.000000
2011                     NaN         NaN             NaN  3.500000
2012                   2.500         NaN             NaN  4.166667
2013                     NaN         NaN             NaN  1.500000
2014                     NaN         NaN             NaN  2.500000
2015                     NaN         NaN             NaN  2.900000
2016                   2.500         NaN             NaN  3.555556
2017                   3.000         NaN             NaN  3.864865
2018                     NaN         NaN             NaN  3.128571

                                                                             \
genres      Sci-Fi|IMAX Sci-Fi|Thriller Sci-Fi|Thriller|IMAX  Thriller  War
year_rating
1996                NaN        2.666667                  NaN  3.838095  NaN
1997                NaN        3.400000                  NaN  3.923077  NaN
1998                NaN             NaN                  NaN  3.800000  NaN
1999                NaN        4.000000                  NaN  3.700000  4.5
2000                NaN        2.142857                  NaN  3.087912  3.0
2001                NaN        2.500000                  NaN  3.477273  3.0
2002                NaN        3.600000                  NaN  3.583333  3.5
2003                NaN        3.142857                  NaN  3.250000  3.0
2004                NaN             NaN                  NaN  3.464286  3.0
2005                NaN        2.750000                  NaN  3.411765  NaN
2006                NaN        4.500000                  NaN  3.735294  NaN
2007                NaN        2.833333                  NaN  3.421875  NaN
2008                NaN        3.000000                  NaN  3.333333  NaN
2009                NaN        4.000000                  NaN  2.964286  4.0
2010                NaN        2.500000                  NaN  2.833333  NaN
2011                NaN        1.833333             4.000000  3.625000  NaN
2012                NaN        3.500000             3.666667  3.083333  NaN
2013                NaN        3.833333             4.000000  3.666667  NaN
2014           5.000000             NaN             4.000000  4.000000  NaN
2015           4.071429        3.764706             4.000000  2.911765  NaN
2016           3.807692        3.916667             3.666667  3.432432  NaN
2017           4.264706        3.750000             2.500000  3.152174  NaN
2018           3.500000        3.562500                  NaN  3.296296  NaN


genres        Western
year_rating
1996         3.117647
1997         3.000000
1998              NaN
1999         4.000000
2000         4.058824
2001         3.111111
2002         3.000000
2003         4.000000
2004         3.800000
2005         4.500000
2006         3.625000
2007         3.000000
2008         4.000000
2009         3.375000
2010         3.666667
2011         4.000000
2012         4.100000
2013         4.000000
2014         4.000000
2015         3.900000
2016         3.958333
2017         2.933333
2018         3.611111

[23 rows x 951 columns]