In [4]:
import pandas as pd

student_data = pd.read_csv(r'C:\Users\Administrator.DESKTOP-8R20EE2\Documents\sf_data_science\PY_10_Intro to Pandas\data\students_performance.csv',sep = ',')

student_data.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [7]:
student_data.head

<bound method NDFrame.head of      gender race/ethnicity parental level of education         lunch  \
0    female        group B           bachelor's degree      standard
1    female        group C                some college      standard
2    female        group B             master's degree      standard
3      male        group A          associate's degree  free/reduced
4      male        group C                some college      standard
..      ...            ...                         ...           ...
995  female        group E             master's degree      standard
996    male        group C                 high school  free/reduced
997  female        group C                 high school  free/reduced
998  female        group D                some college      standard
999  female        group D                some college  free/reduced

    test preparation course  math score  reading score  writing score
0                      none          72             72             74
1                 completed          69             90             88
2                      none          90             95             93
3                      none          47             57             44
4                      none          76             78             75
..                      ...         ...            ...            ...
995               completed          88             99             95
996                    none          62             55             55
997               completed          59             71             65
998               completed          68             78             77
999                    none          77             86             86

[1000 rows x 8 columns]>

In [8]:
display(student_data.loc[155])

gender                               female
race/ethnicity                      group C
parental level of education    some college
lunch                              standard
test preparation course           completed
math score                               70
reading score                            89
writing score                            88
Name: 155, dtype: object

In [9]:
student_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [17]:
student_data['math score'].median()

66.0

In [19]:
student_data['race/ethnicity'].mode()

0    group C
Name: race/ethnicity, dtype: object

In [38]:
student_data[student_data['test preparation course'] == 'completed']['reading score'].mean()

73.89385474860335

In [56]:
filtered_data = student_data['math score'] == 0
display(student_data[filtered_data].head())

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
59,female,group C,some high school,free/reduced,none,0,17,10

In [60]:
student_data[student_data['lunch']  == 'standard']['math score'].mean()

70.03410852713178

In [61]:
student_data[student_data['lunch'] == 'free/reduced']['math score'].mean()

58.92112676056338

In [73]:
student_data['parental level of education'].value_counts(normalize=True)

parental level of education
some college          0.226
associate's degree    0.222
high school           0.196
some high school      0.179
bachelor's degree     0.118
master's degree       0.059
Name: proportion, dtype: float64

In [82]:
student_data[student_data['race/ethnicity'] == 'group A']['writing score'].median()

62.0

In [83]:
student_data[student_data['race/ethnicity'] == 'group A']['writing score'].mean()

62.674157303370784

In [84]:
student_data[student_data['race/ethnicity'] == 'group C']['writing score'].median()

68.0

In [85]:
student_data[student_data['race/ethnicity'] == 'group C']['writing score'].mean()

67.82758620689656

In [89]:
a = 62+63
b = 68+67
c = a/b
print(c)

0.9259259259259259